<article class="post">
  <div class="title">
    <a href="/post/{{id}}" target="_blank">{{title}}</a>
  </div>
  <div>
    <p>{{{content}}}</p>
  </div>
  <div class="meta author-info">
    created by {{user.username}} on {{format_date created_at}}
  </div>
</article>